@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.fc-view{
  @apply bg-slate-100 w-full h-full;
}

.fc-header-toolbar {
  @apply pl-5 pr-5 pt-5;
}

.fc-header-toolbar-chunk {
  @apply flex justify-center items-center;
}

.fc-day-sat, .fc-day-sun{
  @apply bg-green-500 !important;
}

#lessoninput input {
  @apply p-2 placeholder-sky-300 text-blue-700 border-2 border-indigo-300 rounded-lg;
}

#lessoninput select {
  @apply p-2 placeholder-sky-300 text-blue-700 border-2 border-indigo-300 rounded-lg;
}

#lessoninput textarea {
  @apply p-2 placeholder-sky-300 text-blue-700 border-2 border-indigo-300 rounded-lg resize;
  
}

#lessoninput input[type="submit"] {
  @apply bg-green-500 border-none rounded-lg text-white flex justify-end items-end cursor-pointer;
}

#lessoninput input[type="file"] {
  @apply bg-green-500 border-none rounded-lg text-white flex justify-end items-end cursor-pointer;
}

#lessoninput div:not(#saveLessonInput){
  @apply flex justify-center items-center;
}

#saveLessonInput{
  @apply flex justify-end items-end;
}
