@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


.fc-view{
  @apply bg-slate-100 w-full h-full;
}

.fc-header-toolbar {
  @apply pl-5 pr-5 pt-5;
}

.fc-header-toolbar-chunk {
  @apply flex justify-center items-center;
}

.fc-day-sat, .fc-day-sun{
  @apply bg-green-500 !important;
}

#lessoninput input {
  @apply p-2 w-auto border-2 placeholder-sky-300 text-sky-300 border-indigo-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400/50;
}

#lessoninput select {
  @apply p-2 h-11 text-sky-300 border-2 border-indigo-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400/50;
}

#lessoninput textarea {
  @apply p-2 w-96 placeholder-sky-300 text-sky-300 border-2 border-indigo-300 rounded-lg resize focus:outline-none focus:ring-2 focus:ring-blue-400/50;
  
}

#lessoninput input[type="submit"] {
  @apply bg-indigo-500 hover:bg-indigo-600 focus:bg-indigo-700 focus:outline-none border-none rounded-lg text-white flex justify-end items-end cursor-pointer;
}

#lessoninput input[type="file"] {
  @apply p-4 mr-3 bg-sky-300 hover:bg-sky-400 border-none rounded-lg text-white flex justify-end items-end cursor-pointer;
}

#lessoninput div:not(#saveLessonInput){
  @apply flex justify-center items-center;
}

#lessoninput input[type='number'] {
  @apply p-2 w-40 border-2 placeholder-sky-300 text-end text-sky-300 border-indigo-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400/50;
}

#saveLessonInput{
  @apply flex justify-end items-end;
}

body{
  @apply bg-blue-200/50
}